extends layout 

block content 
  h2 Edit User 
  form(action=`/edit-user/$user._id}` method="POST")
    label(for="name") Edit Name: 
    input(type="text" name="name" value=user.name required)
    button(type="submit") Update